@import
    'https://fonts.googleapis.com/css?family=Schoolbell';
    
/* RESET*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}

header{ 
    max-width: 1000%;
    min-height: 480px;
    background:;
    margin: 0 auto;
    font-family: 'Schoolbell', cursive;
    font-size: 1.5em;
}

body{
    
    max-width: 1000%;
    min-height: 480px;
    padding: 50px;
    
    background-image: linear-gradient(#fff,#2FA0B9);
}

.etiqueta{
    display: block;
    background: #DC7633;
    width: 500px;
    color:#fff;
    font-size: 1.4em;
    padding: 10px;
    text-align: center;
    text-decoration: none;
/* FLOTAR BOTON */
    position: fixed;
    right: 0;
    top: 0;
    box-shadow: -2px -2px 10px #000000;
}

.etiqueta hover{
    background: #fff;
    color: #aa0000;
}

header ul{
   list-style: none;
}

header ul a{
  color:#BFDCE5;
  text-decoration:none;
}

h1{
  width: 60%;
  height: 100px; 
  display: inline-block;
}

h1 img{
  max-width: 100%;
}



ul.container{
  text-align: center;
  position:; 
  top: 0px;
  width: 50%;
    
}

header ul{
  list-style: none;
}

header ul a{
  color:white;
  text-decoration:none;
}

ul.container li{
  margin-top: 0px;
  text-align: center;
  display: inline-block;
  width: 15%;
  height: 30px;
  padding-top: 7px;
  list-style: none;
}

ul.container li img{
  max-width: 100%;
  width: 60%;
}
    
/*----- SECTION -----*/

container fluid{
 height: 480px;
}

.temasPrincipales .bg{
 width: 100%;
 height: 400px;
 background-repeat: none;
 background-size: cover;
}

.caja{
  width: 100%;
  background:;
  color:;
  padding: 100px;
  position: relative;
}

.notificacion{
  background: #DC7633;
  color:#fff;
  padding: 10px;
  width: 140px;
  text-align: center;
  position: absolute;
  right: 0;
  top: 0;
  box-shadow: -1px -1px 10px #000000;
}

.tortugaimg{
 background-image: url(../img/tortuga.jpg);
 font-family: 'Schoolbell', cursive;
 font-size: 1em;
 text-align: left;
 right: 10px;
 top: 10px;
 padding: 10px;
}

.familiaimg{
    background-image: url(../img/familia.jpg);
    font-family: 'Schoolbell', cursive;
    font-size: 1em;
    text-align: left;
    right: 10px;
    top: 10px;
    padding: 10px;
}

.reciclaimg{
    background-image: url(../img/recicla.jpg);
    font-family: 'Schoolbell', cursive;
    font-size: 1em;
    text-align: left;
    right: 10px;
    top: 10px;
    padding: 10px;
}


h3{
    color: white;
    text-align: center;
    background: #2FA0B9;
    height: 30px;
    font-family: 'Schoolbell', cursive;
    font-size: 1.5em;
    margin: 5px;
}

galeria{
    width: 10%;
    float: center;
    margin: 10%;
    overflow: hidden;
}

section{
  background: #DC7633;
  margin-top: 20px;
  padding: 20px 0;
}



a{
    text-decoration: none;
    color: white;

}

.fa{
    color: white;
}

footer{
    width: 100%;
    background: #DC7633;
    height: 170px;
}

.logo_foot{
    width: 20%;
    float:left;
   
    padding-top: 20px;
}

.logo_foot img{
    width: 100px;
    padding:10px;
}

div.contacto{
    width: 20%;
    float: left;
    font-size: 0.9em;
    font-family: 'Schoolbell', cursive;
}

div.contacto p{
    width: 80%;
    padding:40px;
    color: white;
}

ul.redes{
    width: 50%;
    float: left;
    padding-top: 5%;

}
nav.foot{
    width: 40%;
    float: left;
}

ul.redes li{
    display: inline-block;

}

ul.lista{
    text-align: center;
    list-style: none;
    padding-top: 5%;
    width: 50%;
    float: left;
    font-family: 'Schoolbell', cursive;

}

ul.lista li{

}

.iconos{
    width: 20%;
    float: left;
    padding-left: 50px;
    padding-top: 50px;
}

.iconos img{
    width: 100px;
}
 iframe{
  width: 100%;
  height: 20em;
 }




